.column-header-background { visibility: hidden; -fx-padding: -1em; }
.proof-left-border { -fx-border-color: black; -fx-border-width: 0 2 0 0; }
.underlined { -fx-border-color: black; -fx-border-width: 0 0 2 0; }
.underline { -fx-background-color: black, -fx-background, -fx-background, -fx-background; -fx-background-insets: 0 0 0 0, 0 0 2 25, 0 0 2 0, 0 0 0 25; }