* { -fx-hcolor: #8edcff; }
.proof-left-border { -fx-border-color: black; -fx-border-width: 0 2 0 0; }
.underlined { -fx-border-color: black; -fx-border-width: 0 0 2 0; }
.underline { -fx-background-color: black, -fx-background, -fx-background, -fx-background; -fx-background-insets: 0 0 0 0, 0 0 2 25, 0 0 2 0, 0 0 0 25; }
.underline.highlight-premise { -fx-background-color: black, -fx-hcolor, -fx-hcolor, -fx-hcolor; -fx-background-insets: 0 0 0 0, 0 0 2 25, 0 0 2 0, 0 0 0 25; }
.rule-box { -fx-border-color: grey; -fx-border-width: 1; -fx-border-radius: 5; }
.highlight-premise { -fx-background-color: -fx-hcolor; }