/* Make <body> fill the entire window. The code in `index.html` to dismiss
   Bootstrap popovers requires this. */
html, body {
    height: 100%;
}

.indent {
    padding-right: 0px;
    line-height: 1;
    font-size: 35px;

    /* On Windows, the default monospaced font isn't monospaced for box drawing
       characters, so we need to use Consolas instead. */
    font-family: Consolas, monospace;
}

.proof-line * {
    vertical-align: middle;
    white-space: nowrap;
}

/* Enable scrollbar in bootstrap drop-down menu
   https://github.com/davidstutz/bootstrap-multiselect/issues/1#issuecomment-12063820 */
.dropdown-scrollbar {
    max-height: 400px;
    overflow-y: auto;
}

/* Apply this to a bootstrap alert on a <span> tag and it will be button-sized */
.small-alert {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
}

/* Fixes annoyances with Bootstrap's `form-custom` on `<input type="text">` */
.text-input-custom {
    display: inline;
    width: 400px;
    color: black;
}
