.indent {
    padding-right: 0px;
    line-height: 1;
    font-size: 35px;

    /* On Windows, the default monospaced font isn't monospaced for box drawing
       characters, so we need to use Consolas instead. */
    font-family: Consolas, monospace;
}

.proof-line * {
    vertical-align: middle;
}
