.indent {
    padding-right: 0px;
    line-height: 1;
    font-size: 35px;

    /* On Windows, the default monospaced font isn't monospaced for box drawing
       characters, so we need to use Consolas instead. */
    font-family: Consolas, monospace;
}

.proof-line * {
    vertical-align: middle;
}

/* Enable scrollbar in bootstrap drop-down menu
   https://github.com/davidstutz/bootstrap-multiselect/issues/1#issuecomment-12063820 */
.dropdown-scrollbar {
    max-height: 400px;
    overflow-y: auto;
}
